*{
    font-family: Helvetica;
}
/* CSS para la parte del nav */
.nav_flex-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    width: 1300px;
}

.header_div-logo{
    margin-right: auto;
  }

a{
    padding: 5px 20px;
    list-style: none;
    text-decoration: none;
    color:#1F3F68;
    font-weight: bold;
    margin: 10px;
}

a:hover{
    background: orange;
    border-radius: 20px;
    color: white;
}

/* CSS para el fondo azul del header*/

.header_div{
    display: flex;
    background: url(../images/banner.png);
    color: white ;
    width: 1300px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parrafo_cabecera{
    text-align: center;
    color: white;
    width: 700px;;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

h1{
    font-size: 3.3rem;
   
}

/*CSS para el search*/
.search{
    width: 940px;
    padding: 10px;
    border-radius: 10px;

    background:#f4f4f4;
    outline: none;
    border:0;
    font-family: helvetica, fontawesome;
   
}
/* CSS para centrar el body y dar margenes*/
body{
    width: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 180px;
    margin: auto;
}
/* CSS para titulos h2, h3 y p*/
h3{
    color: #5ea2e7;
}

h2{
    color: #1e4080;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

p{
    color: grey;
    line-height: 1.5rem;
    padding-right: 0.8rem;
   
}

.autor{
    color: #1e4080;
    font-weight: bold;
}

/* CSS para ubicar los articulos con grid*/

/*articulo 1*/

.container-article1{
    display: grid ;
    grid-template-areas: "article1 article1-img";
    height: 380px;
}

/*articulos 1 3 y 4*/

.container-article2{
    display: grid;
    grid-template-areas: "article2 article3 article4";
    grid-column-gap: 0.8rem;
}

h4{
    color: #1e4080;
    font-weight: bold;
    font-size: 1.09rem;
    margin: 0;
}


/*articulos 5 6 7 8 y 9*/

.container-article3{
    display: grid;
    grid-template-areas: "";
}